<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="IECompatible" value="true" />
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400 " />
    <globalization fileEncoding="utf-8" culture="zh-CN" />
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="DotNet.Controls" namespace="DotNet.Controls.CustomCalDotNetack" tagPrefix="AspNet" />
        <add assembly="DotNet.Controls" namespace="DotNet.Controls.GridView" tagPrefix="AspNet" />
        <add assembly="DotNet.Controls" namespace="DotNet.Controls.DropDownList" tagPrefix="AspNet" />
        <add assembly="DotNet.Controls" namespace="DotNet.Controls.DictionaryComboBox" tagPrefix="AspNet" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <httpModules>
      <add name="NHibernateSessionWebModule" type="DotNet.Facilities.NHibernateIntegration.Components.Web.SessionWebModule, DotNet.Facilities" />
      <add name="DomainServiceModule" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>
  </system.web>
  <connectionStrings>
    <!--<add name="security" connectionString="Data Source=.;Initial Catalog=ManageSystem; Password=123;User ID=sa;" providerName="System.Data.SqlClient" />-->
    <add name="security" connectionString="Data Source=.;Initial Catalog=ManageSystem; Password=123;User ID=sa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DomainServiceModule" preCondition="managedHandler" type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <!--<security>
    -->
  <!--FORM认证方式配置，name表示发送到客户端的Cookie名称，path为Cookie的有效路径，loginUrl是登录页面地址，timeout表示用户过期时间（秒）-->
  <!--
    <forms name=".devfxauth" path="~/" loginUrl="~/security/main/login.aspx" timeout="36000"></forms>
  </security>-->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
