<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log\\log" />
    <appendToFile value="true" />
    <datePattern  value="yyyyMMdd&quot;.log&quot;"/>
    <maximumFileSize value="5000KB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"  />
    </layout>

  </appender>
  <appender name="NHFileAppender" type="log4net.Appender.RollingFileAppender">
    <!--<file value="log\\nhlog.log" />-->
    <file value="log\\nhlog" />
    <appendToFile value="true" />
    <!--<datePattern value="yyyy-MM-dd"/>-->

    <datePattern  value="yyyyMMdd&quot;.log&quot;"/>
    <maximumFileSize value="1000KB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </layout>
  </appender>
  <logger name="Logging">
    <level value="ALL"/>
    <appender-ref ref="FileAppender" />
  </logger>
  <logger name="NHibernate.SQL">
    <level value="OFF"/>
    <appender-ref ref="NHFileAppender" />
  </logger>
  <root>
    <level value="ALL" />
  </root>
</log4net>