<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="DotNet.DataAccess"/>
    <assembly name="DotNet.Presenter"/>
    <assembly name="DotNet.Business"/>
    <assembly name="DotNet.DataAccess"/>

    <container>
      <!--NHSession Manager-->
      <register type="DotNet.Facilities.NHibernateIntegration.ISessionStore, DotNet.Facilities" mapTo="DotNet.Facilities.NHibernateIntegration.SessionStores.WebSessionStore, DotNet.Facilities">
        <lifetime type="singleton"/>
      </register>
      <register type="DotNet.Facilities.NHibernateIntegration.ISessionManager, DotNet.Facilities" mapTo="DotNet.Facilities.NHibernateIntegration.DefaultSessionManager, DotNet.Facilities" >
        <lifetime type="singleton"/>
      </register>

      <!--DataAccess-->
      <register type="DotNet.DataAccess.ICommonDao, DotNet.Business" mapTo="DotNet.DataAccess.CommonDao, DotNet.DataAccess" />
      <!-- <register type="DotNet.DataAccess.IOracleDataAccess, DotNet.Business" mapTo="DotNet.DataAccess.OracleDataAccess, DotNet.DataAccess">
                <lifetime type="singleton"/>
            </register>-->
      <register type="DotNet.Core.IUnitOfWork, DotNet.Core" mapTo="DotNet.DataAccess.NhibernateUnitOfWork, DotNet.DataAccess" />
    </container>
  </unity>
</configuration>
